body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #007bff;
    color: white;
    text-align: center;
    position: relative;
    padding: 10px 0;
}
nav a{
 padding: 2px;
 overflow: auto;
 text-decoration: none;
 color: black;
}
nav a:hover {
 background-color: #062558;
 color: white;
}

.navbar {
    background-color: #0056b3;
    position: absolute;
    bottom: 0px; /* Đặt navbar ở chân của header */
    left: 0px;
    right: 0px;
    
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center; /* Căn giữa các mục trong navbar */
}

.navbar ul li {
    display: inline;
    margin: 0 15px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
}

.navbar ul li a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    flex: 1;
}

.sidebar-left, .sidebar-right {
    background-color: #f4f4f4;
    padding: 15px;
    width: 200px;
}

.main-content {
    flex: 1;
    padding: 15px;
    background-color: #ffffff;
}

footer {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 10px 0;
}

